.header {
  display: flex;
  height: 90px;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--soft-shadow);
  justify-content: center;
  border-top: solid var(--primary-color) 24px;
}

.nav {
  display: flex;
  align-self: flex-end;
}
