@import-normalize;

:root {
  --primary-color: #e77c47;
  --secondary-color: #e0675c;
  --soft-shadow: 0px 0px 14px #ddd;
  --soft-shadow-elevated: 0px 5px 20px #ddd;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
